
.back{
    background: #ffffff;
    text-align: left;
    border-bottom: 5px solid black;
    padding-bottom:0;
    margin: 0;
}

.information{
    background-color: #ffffff;
    text-align: center;
    width: 300px;
    height: 250px;
    border: solid 5px #808080;
    padding: 0;
    margin: 0;
}

.background{
  text-align: center;
  background-color: #808080;
}

.abc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 25;
}

.thread {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .thread:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ffffff;
  }
  
  .thread p {
    margin: 0;
    padding: 0;
  }

.btn{
  border-top: 5px solid black;
  background-color: #ffffff;
  text-align: right;
  padding: 0;
  margin: 0;
}




