<meta name = "viewport" content="width= device-width">

    <div class = "back">
       <button class = "button0" type="button">
         <img class = "backb" src ="../../../assets/image/back (3).png" ></button>
     </div>
<div class="background">

  <div class = "abc">
    <div class = "information">
        <h1>エスパル郡山</h1>
        <img class = "getinfo" src="../../../assets/image/get.png">
        <hr>
        <p>住所 :郡山桑田</p>
        <p>日時 :2020年　7月29日</p>
        <p>天候　28℃　晴れ</p>
        <hr>
    </div>

  </div>

<div class="hani">

    <div class = "thread">
       <p>スズメバチが飛んでて危ない</p>
     </div>

    <div class = "thread">
      <p>実際に行ってみたら、カブト虫もクワガタもいた</p>
    </div>
    
    
</div>
</div>
  <div class = "btn">
    <h1><button class = "button1" type="button">
      <img class = "comment" src ="../../../assets/image/comment.png" ></button></h1>
  </div>

  






