<div class="container">
    <div class="menu">
        <p><button class="cancel" type="button">キャンセル</button>
        <button class="register" type="button">登録</button></p>
        <hr>
    </div>


<div class="userrgstr">
    <h1>ユーザー登録</h1>

    <div class="submit">
    <form action="" method="userid">
        <input type="id" name="userId" placeholder="ユーザーID"><br>
        <input type="password" name="password" placeholder="パスワード" size="20" maxlength="20"><br>
        <input type="password" name="passwordConfirm" placeholder="パスワード(確認)" id="passwordConfirm" required><br>
    </form>
    </div>


</div>
</div>