<meta name="viewport" content="width=device-width">
<div class="frame">
    <div class="frame1">
        <p>  <button class="button1" type="button">
            <img class="serch" src="../../../assets/image/serchforhome.png">
            </button>
                       条件を指定してスポットを選択 

            <button class="button2" type="button">
                <img class="menu" src="../../../assets/image/menuforhome.png">
             </button>

        </p>
        <hr>
    </div>

    <!-- <google-map
    height="500px"
    width="500px"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
    ></google-map> -->


    <div class="frame2">
        <button class="button0" type="button"><img class="location" src="../../../assets/image/locationforhome.png"></button>
        <button class="button0" type="button"><img class="addition" src="../../../assets/image/additionforhome.png"></button>

    </div>

</div>



        