
<div class="frame">
    <div class="frame1">
        <p>  <button class="button1" type="button">
            <img class="serch" src=""></button>  条件を指定してスポットを選択 
            <button class="button2" type="button"><img class="menu" src=""> </button>

        </p>
        <hr>
    </div>

        <div class="frame2">
            <button class="button0" type="button"><img class="button3" src=""></button>
            <button class="button0" type="button"><img class="button4" src=""></button>

        </div>

</div>


        