hr{
    height: 1px;
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

p{
    width: 375px;
    height: 32px;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.text{
    width: 280px;
    height: 30px;
    margin-bottom: 5px;
}

.frame{
    width: 375px;
    height: 812px;
    background-color: #FFFFFF;
    margin-top: 0px;   
    margin-left: 0px;
}/*iphone部分*/

.frame1{
    width: 375px;
    height: 40px;
    background-color:#FFFFFF;

}/*iphoneの上の部分*/

.frame2{
    width: 120px;
    height: 200px;
    margin-top: 530px;
    margin-left: 250px;
    background-color: #FFFFFF;
}/* ボタン３．４　部分の領域*/


.serch{
    height: 29.5px;
    width: 32px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}/*検索マーク（しゃしん）のレイアウト*/

.menu{
    height: 31px;
    width: 35px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

} /*メニューマーク（しゃしん）のレイアウト*/






.button1{
    width: 35px;
    height: 32px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0pt;
    margin-top: 0px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
   
}/*検索ボタン*/

.button2{
    width: 35px;
    height: 28px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    margin-top: 0px;
    margin-right: 3px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}/*メニューボタン*/


.button0{
    width: 70px;
    height: 70px;
    background-color: #c7c3c3;
    border-radius: 100px;
    margin-left: 30px;
    margin-top: 25px;

}/*buttpn3.4.(●ボタンの)レイアウト*/

.location{
    width: 40px;
    height: 50px;
}/*現在地ボタン*/

.addition{
    height: 45px;
    width: 45px;
}/*投稿ボタン*/

