<meta name="viewport" content="width=device-width">
<div class="frame">
 
    <div class="frametop">
        <button class="cancel" type="button">
            <img src="../../../assets/image/cancel.png">
        </button>

        <h1>地域検索</h1>
        <input class="sercht" type="text">

        <button class="exe" type="button"><h3>実行</h3></button>

    </div>

    <h2>絞り込み検索</h2>

    <div class="check">
        <p><input type="checkbox" class="checkbox" >採れる虫</p>
        <p><input type="checkbox" class="checkbox" >天気</p>
        <p><input type="checkbox" class="checkbox" >時間</p>
    </div>

</div>

