.bbo{
    width:375px;
    height:812px;
    margin:0px auto;
    background-color:#FFFFFF;
}

.ccc{
    width: 260px;
    height: 30px;
}
.back{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 20px;
    border: none;
    outline: none;
}