hr{
    height: 1px;
    width: 100%;
    background-color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h1{
    font-size: 38px;
    margin-left: 105px;
    margin-top: 50px;
    margin-bottom: 30px;
}

p{
    margin-left: 10px;
}



.container{
    width: 375px;
    height: 1200px;;
}

.menu{
    width: 375px;
    height: 45px;
}

.cancel{
    font-size: 20px;
    font-weight:bold;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0pt;
    margin-top: 0px;
    margin-right: 5px;
    background-color: #FFFFFF;
  
    border: none;
    outline: none;
    float: left;

}

.log{
   font-size: 22px;
   font-weight: bold;
    height: 40px;
    width: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0pt;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #FFFFFF;
   
    border-radius: 20%;
    outline: none;
    float: right;
}

.imfo{
   width: 300px;
   height: 250px;
   margin-left: 20px;
}

.mail{
    margin-top: 10px;
    width: 300px;
    height: 32px;
    font-size: 23px;
}

.pas{
margin-top: 30px;
width: 300px;
height: 32px;
font-size: 23px;
}
  
     
  