<meta name="viewport" content="width=device-width">
    <div class ="container">
        <div class="menu">
          <p><button class="cancel" type="button">キャンセル</button></p>
        </div>
          <hr>

          <h1>ログイン</h1>

        <div class="imfo">
         <input type="text" placeholder="メールアドレス" class="mail">
         <input type="password" placeholder="パスワード" class="pas" size="30" maxlength="30" >

         <button class="log" type="button">送信</button>
        </div>

        <br>

        <p>ユーザ登録を行っていない場合は<a href="">こちら</a></p>
        <p>パスワード忘れた場合は<a href="">こちら</a></p>
       

        

     


    </div>

