
    <div class ="container">
        <div class="menu">
          <p><button class="cancel" type="button" (click)="onClick()">キャンセル</button>
          <button class="register" type="button" (click)="onClick()">登録</button></p>

          <hr>

        </div>

      <div class="picture">
          <h1>スポットの写真</h1>
        
        <div class = "spotborder">

          <div class="takepic">
                <!-- 写真を撮影するボタン -->
              <button class="button1" type="submit">
                 <img  src="../../assets/image/678.png" width="65" height="50" alt="camera"><br>
                  <span style="font-weight:bold;">撮影</span>
               </button>
          </div>

          <hr> 

          <div class="selectpic">
             <!-- 写真を選択するボタン -->
           <button class="button1" type="submit">
            <img  src="../../assets/image/データベースアイコン1.png" width="65" height="50" alt="storage"><br>
            <span style="font-weight:bold;">選択</span>
           </button>
          </div>

        </div>
      </div>


      <div class="picture">
         <h1>コメント</h1>
        
          <textarea name="msg" cols="30" rows="10"></textarea>
        
      </div>



    </div>
