
    p{
      font-size: 23px;
      font-weight: bold;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0pt;
      margin-bottom: 0pt;
      height: 45px;
    }

    hr{
      height: 1.5px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: black;
    }

    h1{
      font-size: 20px;
      padding-top: 25px;
    }

    button{
      background-color: #FFFFFF;
    }

    textarea{
      font-size: 14px;
      margin-left: 15px;
      border: 3px solid #000000;
      border-radius: 6%;
      width: 280px;
      height: 220px;

      
    }

    .container{
      width:375px;
      height:812px;
      margin:0px auto;
      background-color:#FFFFFF;
      
    }

    .menu{
      width: 375px;
      height: 45px;
      background-color: #FFFFFF;

    }

    .cancel{
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 5px;
      padding-right: 0px;
      margin-top: 8px;
      margin-bottom: 5px;
      font-size: 17px;
      border: none;
      outline: none;
    }

    .register{
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      float: right;
      margin-right: 15px;
      margin-top: 8px;
      margin-bottom: 5px;
      font-size: 17px;
      border: none;
      outline: none;

    }

    .picture{
      width: 330px;
      height: 370px;
      background-color: #FFFFFF;
      margin-left: 10px;
      margin-top: 15px;
    }

    .spotborder{
     margin-left: 15px;
      border: 3px solid #000000;
      border-radius: 6%;
      width: 280px;
      height: 270px;

    }

    .takepic{
      width: 280px;
      height: 135px;

    }

    .selectpic{
      width: 280px;
      height: 135px;

    }

    .camera{
      width:280px;
      height:135px;
    }

    .storage{
      width:280px;
      height:135px;
    }

    .button1{
     width: 120px;
     height: 80px;
     margin-left: 80px;
     margin-top: 30px;
     background-color: #FFFFFF;
    border: none;
    outline: none;

    }
    
  


    

    .commentborder{
      margin-left: 15px;
      border: 3px solid #000000;
      border-radius: 6%;
      width: 280px;
      height: 220px;


    }


   
